* {
  margin: 0;
  padding: 0;
  text-shadow: #c2c2c278 0 0 10px;
}

:root {
  font-family: "JetBrains Mono", monospace;
  font-family: "VT323", monospace;
  --light: #c2c2c2;
  --blue: #c1c1c1;
  --light-blue: #00e5ff;
  --darkblue: #40aab6;
  --gray: #171717;
  --dark-gray: #0f0f0f;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 60;
}

ul,
li {
  list-style: none;
}

body {
  display: grid;
  grid-template-columns: 10% 1fr;
  background-color: var(--dark-gray);
  color: var(--light);
  height: 100vh;
  width: 100vw;
}

.overlay {
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  background-color: var(--light-blue);
  mix-blend-mode: color;
  opacity: 0.5;
}

.sidebar {
  display: grid;
  padding: 10%;
  padding-top: 50px;
  box-sizing: border-box;
  grid-template-rows: 1fr repeat(2, 2fr);
  border-right: var(--blue) 2px solid;
  font-size: 20px;
}

li button {
  border: 0.5px white solid;
  background-color: transparent;
  transition: 0.3s;
  color: var(--light);
}

li button:hover {
  background-color: transparent;
  color: var(--light-blue);
  transform: scale(101%);
  text-shadow: var(--light-blue) 1px 0 5px;
}

img {
  width: 100%;
  filter: grayscale() contrast(1.5);
}

.nav1,
.nav2 {
  grid-auto-rows: 30px;
  font-size: 1.2em;
  display: grid;
  grid-auto-rows: 2em;
  justify-self: center;
}
.container {
  display: grid;
  grid-template-rows: minmax(100px, 10%) 5fr;
}

.header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 20px;
  border-bottom: var(--blue) 2px solid;
  text-align: center;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search {
  display: grid;
  grid-template-columns: 1fr 80%;
  height: 20px;
  gap: 0;
  text-align: center;
}

.search span {
  padding: 0;
  margin: 0;
  border: red 1px solid;
}

.account {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  align-items: center;
}

.account-name {
}

.header-bot {
  display: grid;
  justify-content: end;
}

button {
  background-color: var(--gray);
  color: var(--light-blue);
  border: var(--blue) 2px solid;
  padding: 5px 10px;
  font-family: "JetBrains Mono", monospace;
  font-family: "VT323", monospace;
  font-size: 20px;
  letter-spacing: 1px;
}

button:hover {
  background-color: var(--light-blue);
  color: var(--dark-gray);
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--gray);
}

.cards {
  display: grid;
  overflow: auto;
  scroll-behavior: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  padding: 20px;
  display: grid;
  gap: 10px;
  border: var(--blue) 2px solid;
  border-left: var(--darkblue) 10px solid;
  background-color: var(--dark-gray);
  grid-template-rows: 2fr 4fr 1fr;
  transition: 0.3s;
  box-sizing: border-box;
}

.card:hover {
  border: var(--light-blue) 2px solid;
  transform: scale(101%);
  box-shadow: var(--light-blue) 1px 0 5px;
}

h3 {
  font-size: 25px;
  border-bottom: #00e5ff 1px solid;
}

.icons {
  text-align: right;
}

.icons:hover {
}

.links {
  display: grid;
  padding: 20px;
  padding-left: 0;
  gap: 30px;
}

.news {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  border: var(--blue) 2px solid;
  background-color: var(--dark-gray);
}

.news > div:not(:last-child) {
  border-bottom: var(--light-blue) 1px solid;
}

h4 {
  color: red;
}

.trending {
  display: grid;
  gap: 10px;
  padding: 10px;
  border: var(--blue) 2px solid;
  background-color: var(--dark-gray);
}

.trending > div:not(:last-child) {
  border-bottom: var(--light-blue) 1px solid;
}

h5 {
  color: red;
}
